.about2{
    position: relative;
    height: calc(100vh - 10rem);
}
.start{
    height: 100%;
    background: #2D033B;
    color: whitesmoke;
    padding: 2rem;
    font-size: clamp(1rem, 3vw, 3.5rem);
    font-weight: 900;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: start;
    text-transform: uppercase;
}
/* .start div:nth-child(1){
} */

.hi{
    height: 100%;
    background: #4C0033;
    color: whitesmoke;
    padding: 2rem;
    font-size: 10rem;
    font-weight: 900;
    display: grid;
    place-content: center;
    font-size: clamp(2rem, 6vw, 5.5rem);

}

.part1{
    height: 100%;
    background: #282A3A;
    color: whitesmoke;
    padding: 2rem;
    font-size: 10rem;
    font-weight: 900;
    display: grid;
    place-content: center;
    font-size: clamp(2rem, 6vw, 5.5rem);
}