*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --PrimaryFont: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --secondaryFontItalic: 'Newsreader', serif;
  --secondaryFont: 'Newsreader', serif;
  --PrimaryColor: #6f2089;
  --secondaryColor: #F5F2FE;
  --secondaryColor2: #15131b;
  --fontColor: rgba(0, 0, 0, .7)
}

body,
html {
  width: 100%;
  min-height: 100vh;
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-family: var(--PrimaryFont);
}

::selection {
  color: white;
  background: black;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #eef1ef;

}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, .3);
  border-radius: 20px;
}

a {
  text-decoration: none;
  color: inherit;
}

.reveal-text{
  transform: translate(0,100%);
  animation: revealText .4s .3s forwards;  
}
@keyframes revealText{
  100%{
    transform: translate(0,0);
  }
}

#root {
  width: 100%;
  min-height: 100vh;
}

.App {
  position: relative;
  min-height: 100vh;
  margin: auto;
  width: 100%;
  opacity: 0;
  animation: opacityAnime .5s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
  /* border-left: #0E5E6F 2px solid; */
}


/* loader */
.loader {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--PrimaryColor);
  display: grid;
  place-content: center;
  animation: up .7s 2.6s cubic-bezier(0.77, 0, 0.175, 1) forwards;
  z-index: 999;
}

.loader-container {
  width: 100vw;
  height: 100vh;
  background-color: var(--secondaryColor2);
  display: grid;
  place-content: center;
  animation: up 1s 2.4s ease-out forwards;
}

.loader-animation-container {
  height: 100px;
  overflow-y: hidden;
}

.char {
  position: relative;
  transform: translate(0, 100%);
  transition: .5s;
  opacity: 0;
}

nav {
  position: relative;
  width: 100%;
  height: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  animation: heightAnime .5s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
  z-index: 999;
  background-color : white;
}

.logo {
  font-weight: 700;
  z-index: 999;
  cursor: pointer;
  transition: .3s;
  color: var(--PrimaryColor);
  letter-spacing: 2px;
  user-select: none;
}

.logo .imgWrapper3 {
  opacity: 0;
  transition: .5s cubic-bezier(0.075, 0.82, 0.165, 1);
  pointer-events: none;
  z-index: 999;

}

.logo:hover .imgWrapper3 {
  opacity: 1;
}

.logo:hover .clipon {
  width: 300px;
  height: 300px;
}

.nav2{
display: none;
}

nav ul {
  list-style: none;
  display: flex;
  /* pointer-events: none; */
}

nav ul li:not(:first-child) {
  margin-left: 1.5rem;
}

.underline {
  background-image: linear-gradient(#212121, #212121);
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: 0px 2px;
  transition: .5s cubic-bezier(0.075, 0.82, 0.165, 1);
  border-radius: 1px;
}

.underline:hover {
  background-size: 100% 2px;
}

.inst-icon {
  position: absolute;
  right: 2rem;
  top: 1rem;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: grid;
  place-content: center;
  color: white;
  background-color: #0E5E6F;
  cursor: pointer;
  /* pointer-events: none; */
}

.instruction {
  position: absolute;
  right: 0rem;
  top: 2rem;
  width: 200px;
  border-radius: 10px;
  display: none;

}

.inst-container {
  background-color: #6D9886;
  box-shadow: 6px 6px 10px rgba(0, 0, 0, .2);
  width: 100%;
  padding: 1rem;
  color: whitesmoke;
  transition: .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.inst-icon:hover .instruction {
  display: block;

}

.imgWrapper-wrapper::after {
  content: '2022';
  position: absolute;
  color: hsl(28, 22%, 67%);
  top: 50%;
  left: 0;
  transform: translate(0, -50%) rotateZ(270deg);
}

.intro {
  display: inline-block;
  text-align: center;
  width: 100%;
  font-family: var(--secondaryFontItalic);
  word-spacing: .5rem;
}

.intro-words {
  font-weight: 400;
  font-size: clamp(10px, 4vw, 3.5rem);
  transform: translate(0, 100%);
  opacity: 1;
}


.hrline {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  animation: fullWidth .5s .5s ease forwards;
}

.home {
  position: relative;
  width: 100%;
  height: calc(100vh - 10rem);

}

.funclicks{
  display: none;
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  padding: .5rem 1rem;
  background: beige;
  border: none;
  border-radius: 5px;
  box-shadow: 6px 6px 6px rgba(0, 0, 0, .2);
  transform: scale(.5,.5);
}

.funclicks2{
 right: 4rem;
 background: rgb(247, 245, 136);
}

/* projects */

@media only screen and (max-width: 600px) {
  .App {
    width: 100%;
    min-height: 100vh;
  }

  nav {
    padding-inline: 1rem;
  }

  .inst-icon {
    right: 1rem;
  }
}

/* keyframes */

@keyframes up {
  100% {
    transform: translate(0, -100%);
  }
}

@keyframes heightAnime {
  100% {
    height: 5rem;
    opacity: 1;
  }
}

@keyframes opacityAnime {
  100% {
    opacity: 1;
  }
}

@keyframes clipanime {
  100% {
    width: 300px;
    height: 300px;
  }
}

@keyframes clipPath {
  100% {
    clip-path: inset(0 0% round 0 0 0 0);
  }
}

@keyframes fullWidth {
  100% {
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  nav{
    display: grid;
    place-content: center;
  }
  footer{
    display: grid;
    place-content: center;
  }
  .nav1  {
   display: none;
  }
  
  .nav2{
    width: 100%;
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
  }
  .nav2 li{
    margin-inline: 1rem;
  }
  .hrline{
    top: 4.8rem;
  }

  .funclicks{
    display: block;
  }

}